__pycache__/
*.pyc
.venv/
.env

experiments/runs/*
!experiments/runs/.gitkeep

experiments/*/runs/*
!experiments/*/runs/.gitkeep

reference/runs/*
!reference/runs/.gitkeep

reference/*/runs/*
!reference/*/runs/.gitkeep

